{
  "info": {
    "version": "API_VERSION",
    "title": "API_YAML_FILE_NAME-prd",
    "name": "API_YAML_FILE_NAME-prd",
    "summary": "automated product generation for the API",
    "contact": {
      "name": "pierre richelle",
      "email": "pierre.richelle@be.ibm.com"
    },
    "categories": [
      "documentation"
    ]
  },
  "visibility": {
    "view": {
      "type": "public",
      "orgs": [],
      "tags": [],
      "enabled": true
    },
    "subscribe": {
      "type": "authenticated",
      "orgs": [],
      "tags": [],
      "enabled": true
    }
  },
  "product": "1.0.0",
  "apis": {
    "API_YAML_FILE_NAME": {
      "name": "API_YAML_FILE_NAME:API_VERSION"
    }
  }
}
